.modifiyProfile-wrap {
  // max-width: 428px;
  padding: 0 1rem;
}
.modifyProfile-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 40px;
  gap: 20px;
}
.modifyProfile-imgBox {
  position: relative;
  display: flex;
}
.modifyProfile-img {
  height: 100px;
  width: 100%;
  border-radius: 50%;
}
.modifyProfile-rightBox {
  margin-left: 24px;
  margin-right: 24px;
  padding-top: 3%;
  width: 80%;
  // margin-top: 20px;

  p {
    font-family: 'Noto Sans';
    font-size: 0.875rem;
    color: #cccccc;
    font-weight: 400;
  }
}
.modifyProfile-input {
  width: 100%;
  height: 26px;
  font-family: 'Noto Sans';
  font-size: 1rem;
  font-weight: 400px;
  color: #212121;
  padding-left: 5px;
  border: none;
  border-bottom: 1px solid rgba($color: #a8a8a8, $alpha: 0.5);
}
.modifyProfile-input:focus {
  outline: none;
}
.modifyProfile-setbtns {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  margin-top: 48px;
}
.modifyProfile-btn {
  height: 47px;
  width: 80%;
  cursor: pointer;
  font-family: 'Noto Sans';
  background-color: white;
  border: 1px solid #004EEA;
  color: #004EEA;
  border-radius: 12px;
  font-size: 1rem;
  font-weight: 500;
}
.modifyProfile-btn2{
  height: 47px;
  width: 80%;
  cursor: pointer;
  font-family: 'Noto Sans';
  background-color: #004EEA;
  border: none;
  color: #F7F7F7;
  border-radius: 12px;
  font-size: 1rem;
  font-weight: 500;


}
.modifiyProfile-iconWrap {
  position: absolute;
  display: flex;
  bottom: 0;
  right: 0;
}
.modifiyProfile-icon {
  width: 40px;
  height: 40px;
  background-color: #eeeeee;
  border-radius: 50%;
}
.modifiyProfile-camera {
  width: 24px;
  height: 24px;
  margin: 8px 8px 8px 8px;
  cursor: pointer;
}
