.modifiyProfile-wrap {
  // max-width: 428px;
  padding: 0 1rem;
}
.modifyProfile-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 10px;
}

.modifyProfile-img {
  height: 100px;
  width: 100%;
  border-radius: 50%;
}
.modifyProfile-rightBox {
  margin-left: 24px;
  margin-right: 24px;
  padding-top: 3%;
  width: 80%;
  p {
    font-family: 'Noto Sans';
    font-size: 0.75em;
    color: #cccccc;
    font-weight: 400;
  }
}
.modifyProfile-input {
  width: 100%;
  height: 26px;
  font-family: 'Noto Sans';
  font-size: 1rem;
  padding-left: 5px;
  border: none;
  border-bottom: 1px solid rgba($color: #a8a8a8, $alpha: 0.5);
}
.modifyProfile-input:focus {
  outline: none;
}
.modifyProfile-setbtns {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  margin-top: 50px;
}
.modifyProfile-btn {
  height: 47px;
  width: 80%;
  cursor: pointer;
  font-family: 'Noto Sans';
  background-color: #ededed;
  border: none;
  border-radius: 12px;
  color: #212121;
  font-size: 1rem;
  font-weight: 500;
}
.modifiyProfile-container {
  position: relative;
}
.modifiyProfile-iconWrap {
  position: absolute;
  display: flex;
  top: 60px;
  left: 210px;
}
.modifiyProfile-icon {
  width: 40px;
  height: 40px;
  background-color: #eeeeee;
  border-radius: 50%;
}
.modifiyProfile-camera {
  width: 24px;
  height: 24px;
  margin: 8px 8px 8px 8px;
}
