.myProfileNavBar-Wrap {
  padding: 0 1rem;
}
.myProfileNavBar-Container {
  height: 5.5rem;
  border-bottom: 1px solid rgba($color: #a8a8a8, $alpha: 0.5);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 5px;
  margin-bottom: 16px;
}
.myProfileNavBar-Box {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 2.75rem;
  gap: 0.5rem;
}
.myProfileNavBar-IconContainer {
  position: relative;
  margin: 0 auto;
  width: 100%;
  //   background-color: #f7f7f7;
  border-radius: 50%;
  aspect-ratio: 1/1;
}
.myProfileNavBar-IconBox {
  position: absolute;
  width: 1.5rem;
  height: 1.5rem;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
.myProfileNavBar-IconCheck {
  width: 100%;
  height: 100%;
  //   margin: auto;
  margin-left: 6px;
  color: #004eea;
  font-size: 1.125rem;
  font-weight: 700;
}
.myProfileNavBar-Icon {
  width: 100%;
  height: 100%;
  margin: auto;
  color: #cccccc;
  margin-left: 6px;
  font-size: 1.125rem;
  font-weight: 700;
}
.myProfileNavBar-TextCheck {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  font-size: 0.6875rem;
  white-space: nowrap;
  overflow: visible;
  color: #004eea;
}
.myProfileNavBar-Text {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  font-size: 0.6875rem;
  white-space: nowrap;
  overflow: visible;
  color: #cccccc;
}
