.cancelpage_modal {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
}
.cancelpage_wrap {
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 100;
  padding: 0 1rem;
}
.cancelpage_header_wrap{
  width: 100%;
	height: 53px;
	display: flex;
	position: sticky;
	align-items: center;

}
.cancelpage_header_content {
  width: 100%;
  display: flex;
}
.cancelpage_header_title{
  font-family: 'Noto Sans';
	font-weight: 700;
	font-size: 20px;
	line-height: 27px;
  margin-left: 101px;
}
.cancelpage_container {
  height: 60px;
  margin-top: 31px;
  display: flex;
  flex-direction: row;
  gap: 16px;
}
.cancelpage_title{
    font-size: 1rem;
    font-weight: 400px;
    color: #212121;
    text-align: left;
}
.cancelpage_img {
  width: 60px;
  height: 60px;
  background-color: #cccccc;
  border-radius: 7px;
}
.cancelpagae_price_wrap {
  display: flex;
  flex-direction: row;
  margin-top: 4.5px; 
  gap: 10px;
}
.cancelpage_price_box {
  display: flex;
  flex-direction: row;
  gap: 4px;
  font-family: 'Noto Sans';
  font-size: 0.8125rem;
  font-weight: 500px;
  color: #212121;
}
.cancelpage_icon{
  width: 13px;
  height: 13px;
  margin-top: 3px;
}
.cancelpage_body {
  font-family: 'Noto Sans';
  font-size: 1rem;
  font-weight: 400px;
  color: #212121;
  margin-top: 40px;
}
