.bookedCard-firstContainer {
  margin-bottom: 85px;
}
.bookedCard-container {
  // width: 358px;
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
.bookedCard-smallContainer {
  border-bottom: 1px solid rgba($color: #a8a8a8, $alpha: 0.5);
  display: flex;
  flex-direction: column;
}
.bookedCard-titleWrap {
  width: 238px;
  height: 22px;
  display: flex;
}
.bookedCard-title {
  font-size: 1rem;
  font-family: 'Noto Sans';
  font-weight: 500;
  color: #212121;
}
.bookedCard-detailWrap {
  width: 323px;
  height: 110px;
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}
.bookedCard-img {
  width: 110.24px;
  height: 110px;
  background: #cccccc;
  border-radius: 7px;
}
.bookedCard-bodyBox {
  width: 197px;
  height: 91px;
  margin-left: 15.76px;
  margin-top: 9px;
  font-size: 0.75rem;
  font-family: 'Noto Sans';
  font-weight: 400;
  color: #212121;
  position: relative;
}
.bookedCard-iconBox {
  display: flex;
  flex-direction: row;
  margin-bottom: 15px;
}
.bookedCard-price {
  display: flex;
  flex-direction: row;
  gap: 4px;
  margin-right: 10.14px;
}
.bookedCard-btn {
  width: 342px;
  height: 43px;
  border-radius: 12px;
  background-color: white;
  font-family: 'Noto Sans';
  font-weight: 400;
  color: #004eea;
  border: 1px solid #004eea;
  font-size: 0.9375rem;
  margin-top: 20px;
  margin-bottom: 20px;
  // margin: 20px 16px 20px 16px ;
}
.bookedCard-waitBtn {
  width: 342px;
  height: 43px;
  border-radius: 12px;
  background-color: white;
  font-family: 'Noto Sans';
  font-weight: 400;
  counter-reset: #212121;
  background-color: #eeeeee;
  border: none;
  font-size: 0.9375rem;
  margin-top: 20px;
  margin-bottom: 20px;
}
.reservationcard_alertcontent {
  font-family: 'Noto Sans';
  font-weight: 400;
  color: #004eea;
  font-size: 0.625rem;
  margin-top: 5px;
}
.reservationcard_nameWrap {
  display: flex;
}
.reservationcard_chatbtn {
  border: none;
  background-color: #ededed;
  border-radius: 3px;
  width: 50px;
  height: 18px;
  font-size: 0.625rem;
  font-family: 'Noto Sans';
  font-weight: 400;
  padding: 2px 7px 2px 7px;
  margin-left: 5px;
}
.jullyReservation_btnSet {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 358px;
  height: 43px;
  display: flex;
}
.jullyReservation_btn {
  width: 170px;
  height: 43px;
  gap: 10px;
  border: 1px solid #004eea;
  background-color: white;
  color: #004eea;
  border-radius: 7px;
  margin-right: 18px;
  font-size: 0.9375rem;
  font-family: 'Noto Sans';
  font-weight: 400;
}
