@import '../../common/color.scss';

.detail_modal_background {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 2;
}

.detail_modal_container {
  padding: 0 8px;
  position: fixed;
  width: 100%;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  justify-content: center;
  align-items: center;
  bottom: 3rem;
}

.detail_btn_first {
  flex-direction: column;
}

.detail_edit_btn {
  height: 57px;
  background: $color-light;
  border-radius: 12px 12px 0px 0px;
  padding: 16px;
}

.detail_del_btn {
  height: 57px;
  background: $color-light;
  border-radius: 0px 0px 12px 12px;
  border-top: 0.5px solid #999999;
  margin-bottom: 12px;
  color: $font-red;
  padding: 16px;
}

.detail_cancel_btn {
  top: 69.52%;
  bottom: 0%;
  background: $color-light;
  border-radius: 12px;
  height: 57px;
  left: calc(50% - 374px / 2 - 0.42px);
  bottom: 49.08px;
  align-items: center;
  padding: 16px;
}
