.Chat_Container {
  width: 100%;
  height: 100%;
  padding:  4rem 0.75rem 5.5rem;
}

.Chat_Head_Container{
  padding: 0 1rem;
  width: 100%;
  display: flex;
  position: fixed;
  flex-direction: row;
  background-color: white;
  z-index: 4;
  height: 4.375rem;
  
}
.Chat_Head_Box{
  width: 100%;
  border-bottom: 1px solid #EDEDED;
  display: flex;
  flex-direction: row;
  gap: 0.75rem;
}
.Chat_Head_Img{
  width: 100%;
  height: 100%;
  border-radius: 7px;
}
.Chat_Head_Text_Box{
  display: flex;
  flex-direction: column;
  height:3.125rem;
  justify-content: center;
  gap: 3px;
}
.Chat_Head_Title{
  font-size: 0.8125rem;
  color: #212121;
}
.chat_head_cost{
  display: flex;
  flex-direction: row;
  gap: 5px;
  font-size: 13px;
}
.chat_head_cost_icon_box{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.chat_head_cost_icon{
  width: 13px;
  height: 13px;
}

.Chat_Head_Img_Box{
  width: 3.125rem;
  height: 3.125rem;
}

.Chat_Other_Wrap {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.Chat_Other_Name{
color:#757575;
font-size: 0.875rem;
}

.Chat_Me_Container {
  display: flex;
  flex-direction: row;
  justify-content: end;
  margin: 0.625rem 0;
  gap: 0.5rem;
}

.Chat_Other_Container{
    display: flex;
  flex-direction: column;
  margin: 0.625rem 0;
  gap: 3px;
}
.Chat_Other_Msg_Clock{
    display: flex;
    flex-direction: row;
    gap:0.5rem;
}

.Chat_Other_Profile{
    margin-top: 10px;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    aspect-ratio: 1/1;
}

.Chat_Clock_Box {
  color: #999999;
  font-size: 0.75rem;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.Chat_Me_Box {
  background-color: #ebf3fa;
  border-bottom-left-radius: 0.75rem;
  border-top-left-radius: 0.75rem;
  border-top-right-radius: 0.75rem;
  padding: 0.625rem;
  max-width: 80%; 
}

.Chat_Other_Box{
   background-color:  #F7F7F7;
  border-bottom-right-radius: 0.75rem;
  border-bottom-left-radius: 0.75rem;
  border-top-right-radius: 0.75rem;
  padding: 0.625rem;
  max-width: 75%; 
}

.Chat_Input_Box {
  display: flex;
  flex-direction: row;
  height: 2.625rem;
  gap: 0.625rem;
}

.Chat_Input {
  width: 18.125rem;
  height: 2.625rem;
  border: none;
  background-color: #f7f7f7;
  border-radius: 0.4375rem;
  padding: 0 0.911875rem;
}

.Chat_Input_Button_Box {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.Chat_Input_Button {
  width: 1.5rem;
  height: 1.5rem;
  border: none;
  background-color: white;
}
.Chat_Button_Icon {
  width: 100%;
  height: 100%;
  background-color: none;
}

.Chat_Input_Container {
  position: fixed;
  background-color: white;
  width: 100%;
  left: 50%;
  bottom: 0;
  padding-top: 10px;
  transform: translateX(-50%);
  height: 5.5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
