.imgUploader_container {
  display: flex;
}
.imgUploader_box {
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
}

.UpImg {
  width: 100%;
}

.preview_img_container {
  display: flex;
  flex-direction: row;
  min-width: 100px;
  padding: 1rem 0;
  gap: 10px;
  margin-left: 10px;
  overflow-x: scroll;
}
.preview_container {
  position: relative;
  display: flex;
  flex-direction: row;
}

.preview_img {
  display: flex;
  border-radius: 3px;
  width: 84px;
  aspect-ratio: 1/1;
}

.preview_del {
  position: absolute;
  top: -14%;
  right: -8%;
  color: #cccccc;
  font-size: 20px;
}
