.UpImg {
	width: 100%;
}

.preview_img_container {
	// overflow: hidden;
	width: 100%;
	display: flex;
	flex-direction: row;
	
	// float: left;
}
.preview_container {
	position: relative;
}

.preview_img {
	margin-left: 10px;
	display: flex;
	border-radius: 3px;
	width:84px;
	height:84px;
	aspect-ratio: 1/1;
	object-fit: cover,
}

.preview_del {
	position: absolute;
	top: -14%;
	right: -8%;
	color: #cccccc;
	font-size: 20px;
}