.DetailMap_Wrap {
	display: flex;
	flex-direction: column;

	padding: 0 1rem;
}

.DetailMap_Container {
	display: flex;
	flex-direction: column;
}

.DetailMap_Title {
	display: flex;
	flex-direction: row;
	font-size: 1rem;
	color: #212121;
  font-weight: 600;
}

.DetailMapPlaceBox {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.DetailMap_Place {
	color: #212121;
	font-size: 0.875rem;
}
.DetailMap_Img {
	margin: auto;
	margin-top: 1rem;
	border-radius: 12px;
	width: 100%;
	aspect-ratio: 1.7/1;
}

.DetailMap_TextBox {
	display: flex;
	flex-direction: row;
	gap: 7px;
}
