.PostingMap_Wrap {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  margin-bottom: 5.375rem;
}

.PostingMap_Title {
  display: flex;
  flex-direction: row;
  font-size: 1rem;
  color: #757575;
}

.PostingMap_Icon_Box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 1.4rem;
  height: 1.4rem;
  margin-right: 5px;
}

.PostingMap_Icon {
  width: 1.125rem;
  height: 1.125rem;
  margin: auto;
  display: flex;
}

.PostingMap_HiIcon {
  margin: auto;
  width: 100%;
  height: 100%;
}

.PostingMap_Img {
  margin: auto;
  margin-top: 1rem;
  border-radius: 12px;
  width: 100%;
  aspect-ratio: 1.7/1;
}

.PostingMap_Place {
  color: #212121;
}

.PostingMap_Detail_Location {
  color: #212121;
}
