@import '../../common/color.scss';

.mainList_wrap {
	padding: 0 1rem;
}

.mainListCard_container {
	padding: 1.25rem 0;
	display: flex;
	flex-direction: row;
	border-bottom: 1px solid $color-sub;
}

.mainListCard_box {
	position: relative;
	display: flex;
	flex-direction: row;
	height: 7.5rem;
	gap: 0.8rem;
	width: 100%;
	cursor: pointer;
}

.mainListCard_img {
	width: 7.5rem;
	height: 7.5rem;
	box-sizing: border-box;
	object-fit: cover;
	border-radius: 7px;
	aspect-ratio: 1/1;
	object-fit: cover;
}

.mainListCard_right_box {
	width: 100%;
	margin-top: 0.275rem;
	display: flex;
	box-sizing: border-box;
	flex-direction: column;
}

.mainListCard_title {
	overflow: hidden;
	max-height: 2.375rem;
	font-size: 0.9375rem;
	box-sizing: border-box;
	color: $color-primary;
	word-break: break-all;
}

.mainListCard_place {
	margin-top: 0.1rem;
	font-size: 0.8125rem;
	overflow: hidden;
	color: $color-medium;
	font-weight: 400;
	max-height: 1.0625rem;
	margin-bottom: 0.625rem;
}

.mainListCard_bottom_container {
	margin-top: 0.6875rem;
	width: 100%;
}

.mainListCard_bottom_box {
	display: flex;
	flex-direction: column;
}

.mainListCard_price_box {
	display: flex;
	flex-direction: row;
	font-size: 0.9375rem;
	font-weight: 500;
	gap: 0.5625rem;
}

.mainListCard_icon_box {
	display: flex;
	flex-direction: column;
}

.mainListCard_icon {
	width: 0.9375rem;
	height: 0.9375rem;
	margin: auto;
}
.mainListCard_review {
	position: absolute;
	display: flex;
	flex-direction: row;
	right: 0px;
	bottom: 7px;
	font-size: 0.75rem;
	color: $color-medium;
}

.mainListCard_star_box {
	font-size: 0.875rem;
	display: flex;
	flex-direction: column;
}

.mainListCard_star {
	margin: auto;
	color: $font-star;
}
