.SearchWrap {
  width: 100%;
  padding: 0 1rem;
  height: 53px;
  display: flex;

}

.SearchHeader {
  margin: auto;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.SearchHeaderIconBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 1.5rem;
}

.SearchHeaderIcon {
  margin: auto;
  width: 100%;
  height: 100%;
}

.SearchHeaderInput {
  width: 100%;
  border: none;
  border-radius: 0.75rem;
  height: 2.375rem;
  background: #F7F7F7;
  padding: 0 1rem;
  font-size: 0.9375rem;
  outline: none;
  color: #212121;
}

.SearchHeaderInputXbutton {
  position: absolute;
  width: 17px;
  height: 17px;
  right: 0.75rem;
  top: 0.65rem;
  color: #212121;
}

.SearchEmptyText {
  padding: 10rem 1rem;
  margin-top: 2rem;
  font-size: 0.875rem;
  color: #cccccc;
  text-align: center;
}

.SearchPostList{
  margin-bottom: 84px;
}