.calendar_box {
  display: flex;
  flex-direction: row;
  gap: 5px;
  ::placeholder {
    color: #757575;
  }
}
.calendar_box_text {
  color: #757575;
  font-weight: 400;
}
.calendar_title {
  padding-right: 5px;
}
.calendar_input {
  font-size: 1rem;
  border: none;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.calendar_input_text {
  color: #212121;
  font-weight: normal;
  font-size: 0.875rem;
}
.calendar_input:focus {
  outline: none;
}
.calendar_toggleIcon {
  display: flex;
  flex-direction: column;
  margin-top: 1px;
}
.calendar_btns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  button {
    background-color: #004eea;
    border-radius: 7px;
    width: 100px;
    height: 40px;
    border: none;
    font-family: 'Noto Sans';
    font-weight: 600;
    font-size: 1rem;
    color: #f7f7f7;
    margin-top: 2px;
  }
  p {
    color: #212121;
    font-family: 'Noto Sans';
    font-weight: 600;
    font-size: 0.875rem;
    text-decoration: underline;
    text-underline-position: under;
    margin-left: 8px;
    margin-top: 9px;
  }
}
.rmdp-top-class {
  width: 358px;
}
.rmdp-calendar {
  width: 100%;
  height: 100%;
  font-family: 'Noto Sans';
  padding: 30px 0 10px;
}
.rmdp-day-picker {
  display: block !important;
  width: 100%;
  height: 100%;
  margin: 10px 10px 0 0;
}
.rmdp-arrow {
  color: #212121;
}
.rmdp-arrow-container.disabled {
  color: #cccccc;
}
.rmdp-day.rmdp-disabled {
  color: #cccccc;
}
.rmdp-header-values {
  color: #212121;
  font-size: 1.125rem;
  font-weight: 600;
}
.rmdp-day {
  width: 35px;
  height: 35px;
  background-color: #ffffff;
  padding: 20px;

  span {
    font-size: 0.875rem;
    width: 35px;
    height: 35px;
    // color: #cccccc;
  }
  // span.sd {
  // 	color: #212121;
  // }
}
.rmdp-week-day {
  color: #757575;
  font-size: 0.875rem;
}
.rmdp-day.rmdp-today span {
  border: 1px solid #004eea;
  background-color: transparent;
  color: #212121;
  font-size: 0.875rem;
}
.rmdp-day.rmdp-selected span:not(.highlight) {
  background-color: #004eea;
  color: #ededed;
  font-size: 0.875rem;
  padding-bottom: 1px;
  width: 35px;
  height: 35px;
}
.rmdp-arrow-container:hover .rmdp-arrow {
  border-color: #212121;
}
.rmdp-arrow-container:hover {
  background-color: transparent;
  box-shadow: none;
}
.rmdp-week {
  padding-bottom: 18px;
}
.rmdp-wrapper {
  margin: auto;
}
.rmdp-wrapper.rmdp-shadow {
  box-shadow: none;
}
.rmdp-range {
  border-radius: 50%;
  color: #f7f7f7;
  width: 35px;
  height: 35px;
  background-color: #004eea;
  padding: 20px;
}

.rmdp-day:not(.rmdp-disabled):not(.rmdp-day-hidden) span:hover {
  box-shadow: none;
  background-color: transparent;
  color: #212121;
}
.rmdp-day.rmdp-range span:not(.highlight),
.rmdp-day.rmdp-range span:not(.highlight):hover {
  box-shadow: none;
  background-color: #004eea;
  color: #fff;
}
.rmdp-day.rmdp-selected span:not(.highlight),
.rmdp-day.rmdp-selected span:not(.highlight):hover {
  box-shadow: none;
  background-color: #004eea;
  color: #fff;
}
.rmdp-disabled {
  pointer-events: none;
}
