.myProfileHeader_container {
  padding: 0 1rem;
  // max-width: 428px;
}
.myProfileHeader_wrap {
  width: 230px;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 34px 136px 0px 8px;
  position: relative;
}
.myProfileHeader_img_box {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  margin-left: -34px;
}
.myProfileHeader_img {
  height: 60px;
  width: 60px;
  border-radius: 50%;
}
.myProfileHeader_right_box {
  margin-left: 14px;
  margin-top: 5px;

  p {
    font-size: 0.75rem;
    color: #cccccc;
    font-family: 'Noto Sans';
    font-weight: 400;
  }
}
.myProfileHeader_nickname {
  font-size: 1.5rem;
  color: #212121;
  font-family: 'Noto Sans';
  margin-right: 8px;
}
.myProfileHeader_setting_btn {
  color: #cccccc;
  cursor: pointer;
  margin: auto;
}
.myProfileHeader_right_topbox {
  display: flex;
  flex-direction: row;
}
.myProfileHeader_icon {
  display: flex;
  flex-direction: column;
}
