@import '../../common/color.scss';
.yourPageList_wrap {
  padding: 0 1rem;
  margin-top: 24px;
}
.yourPageList_container {
  border-bottom: 1px solid rgba($color: #a8a8a8, $alpha: 0.5);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 20px;  
}
.yourPageList_icon_box {
  border: none;
  width: 169px;
  height: 44px;
  display: flex;
  flex-direction: row;
  padding-left: 35px;
  padding-top: 10px;
  background-color: $color-light;
  border-radius: 7px;
}
.yourPageList_icon_upload_check {
  width: 21px;
  height: 24px;
  color: $color-main;
}
.yourPageList_text_check {
  font-weight: 400;
  font-size: 0.875rem;
  padding-bottom: 13px;
  color: $color-main;
  margin-left: 10px;
}
.yourPageList_icon_upload {
  width: 21px;
  height: 24px;
  color: $color-placeholder;
}
.yourPageList_text {
  font-weight: 400;
  font-size: 0.875rem;
  padding-bottom: 13px;
  color: $color-placeholder;
  margin-left: 10px;
}
.yourPageList_margin{
    margin-bottom: 84px;
}
.yourPageList_icon_review_check {
  width: 21px;
  height: 24px;
  color: $color-main;
}
.yourPageList_icon_review {
  width: 21px;
  height: 24px;
  color: $color-placeholder;
}
