$color-main: #004EEA;
$color-message: #EBF3FA;
$color-light: #F7F7F7;
$color-primary: #212121;
$color-medium: #757575;
$color-placeholder: #CCCCCC;
$color-sub: #eeeeee;
$color-white: #ffffff;
$font-red: #EB0000;
$font-star: #FEE500;

// @import '../../common/color.scss';