// @import '../../common/color.scss';
$color-main: #004eea;
$color-message: #ebf3fa;
$color-light: #f7f7f7;
$color-primary: #212121;
$color-medium: #757575;
$color-placeholder: #cccccc;
$color-sub: #eeeeee;
$color-white: #ffffff;
$font-red: #eb0000;
$font-star: #fee500;
